body{   /*Page background */
	 background-image: url("w.jpg");
}

.bg-img { /*for the photo below the nav bar*/
  background-image: url("slogan1.jpg");
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a.active { /* color of the nav bar  */
  color: white;
}

ul { /* size and positon of the nav bar  */
  list-style-type: none;
   font-size: 22px;   
   padding: 0px;
}

li { /*size and position of the entire navigation bar*/
  float:left;
}

li a, .dropbtn {  /*color and position of the dropdown nav bar button*/
  display: inline-block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {  /*opacity on the dropdown button*/
opacity:0.8;
}

.dropdown-content {  /*content on the dropdown menu*/
  display: none;
  position: absolute;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}


@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
.pos {
  border-right: solid 3px white;
  white-space: nowrap;
  overflow: hidden;    
  font-size: 20px;
  color:white;
  margin-top: 260px;;
}
  .post{
  animation: animated-text 4s steps(40,end) 1s 1 normal both,
             animated-cursor 600ms steps(40,end) infinite;   
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 650px;}
}

@keyframes animated-cursor{
  from{border-bottom-color: rgba(0,255,0,.75);}
  to{border-bottom-color: transparent;}
}


.size1{
	font-size:40px;
}

.size2{
	font-size:25px;
}

.a {

   border: 1px solid #ddd;
  border-radius: 10px;
  padding: 7px;
  background-color:white;
}

.mqs{
	padding:50px;
}

.m{
	float:right;
	margin:50px;
}

.m1{
	float:right;
	font-size:20px;
}

.m2{
	float:left;
  margin:90px;
  font-size:20px;
  }
  
  .m3{
    margin:80px;
    float:left;
  }
  .m4{
    margin:100px;
    float:right;
    font-size:19px;
  }

.color1{
	background-color:none;
	color:white;
}

.text5 {
    font-family: "sans-serif";
    font-size: 30px;
    font-weight: 40;
    color: #F9423A;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
}

.text6 {
    font-family: "Brush Script MT";
    font-size: 25px;
    font-weight: 40;
    color: #E03C31;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 7px 1px #919191,
        1px 8px 1px #919191,
        1px 9px 1px #919191,
        1px 10px 1px #919191,
}

.left1{
	float:left;
}




